#TOAST_CONTAINER {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.toast {
  --accent: blue;
  --background: color-mix(in srgb, var(--background_clr), white 15%);
  font-size: large;
  background-color: var(--background);
  padding: 1rem;
  border-left: 0.5rem solid var(--accent);
  border-radius: 0.5rem;
  overflow: hidden;

  max-width: 500px;
}

.toast p {
  text-wrap-mode: break-word;
}

.toast small {
  opacity: 0.7;
}

.toast.error {
  --accent: var(--error_clr);
  --background: color-mix(in srgb, var(--error_clr), white 15%);
}

.toast.success {
  --accent: var(--success_clr);
  --background: color-mix(in srgb, var(--success_clr), white 15%);
}
