*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.container {
  width: 95vw;
  max-width: 500px;
  height: 95vh;
}
#chat,
#set_username {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow-y: auto;
}
#chat {
  overflow-x: visible;
  display: none;
}
.msg {
  color: blueviolet;
  font-size: 2rem;
  position: absolute;
  top: 5px;
}

.msgCtn {
  margin: 1rem 0;
  color: white;
  padding: 1rem 1rem;
  border-radius: 6px;
  font-size: 2rem;
}
.msgForm {
  display: flex;
  flex-direction: row;
}
.input {
  height: 100%;
  flex: 4;
  margin-right: 2rem;
  border: none;
  border-radius: 0.5rem;
  padding: 2px 1rem;
  font-size: 1.5rem;
  background-color: aliceblue;
}

.input:focus {
  background-color: white;
}

.btn {
  height: 5rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: blueviolet;
  color: whitesmoke;
  border: none;
  font-size: 1.6rem;
  margin: 0 5px 0 0;
}
.btn[type="reset"] {
  background-color: crimson;
}

.msg_meta {
  font-size: small;
  opacity: 0.5;
  margin-top: 0.3rem;
  margin-bottom: auto;
}

.sys_msg {
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.33);
  color: black;
  font-size: x-large;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.available {
  color: green;
}

.taken {
  color: red;
}
