@import url("/css/base.css");

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#userForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.hero {
  view-transition-name: main-logo;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

.hero h1 {
  font-size: 1.5rem;
}

.hero img {
  width: 3rem;
  height: 3rem;
}

.container {
  background-color: color-mix(in srgb, var(--background) 100%, transparent 20%);
  width: min(400px, 50%);
  height: min(700px, 50%);
}

#btnRow {
  display: flex;
  align-self: last baseline;
  gap: 1rem;
}
